streamlit
langchain
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
python-docx
unstructured
nltk
spacy
pdfminer.six==20201018
pillow-heif
pytesseract
transformers
sentence-transformers
pi-heif
PyMuPDF
duckduckgo_search
